:root{
    --bg-primar-color:rgb(17,17,17)
    --bg-secondary-color:rgb(34,34,34);
    --bg-active-color:(233,233,233);
    --bg-danger-color:rgb(200, 50, 50);

    /* text color */
    --text-primary-color:rgb(235, 237, 234);
    --text-secondary-color:rgb(170, 170, 170);
    --text-active-color:rgb(25, 25, 25);

/* padding */

    --padding-sm: 0.5rem;
    --padding-md : 1rem ;
    --padding-lg:1.5rem;
    --padding-xl:2rem;
    --padding-2xl:3rem;

   /* margin  */
   --gutter-sm: 0.5rem;
   --gutter-md: 1rem;
   --gutter-lg:1.5rem;
   --gutter-xl: 2rem;
   --gutter-2xl : 3rem;

   /* gutter */
    --gutter-sm: 0.5rem;
    --gutter-md: 1rem;
    --gutter-lg:1.5rem;
    --gutter-xl: 2rem;
    --gutter-2xl : 3rem;

     /* font size */
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 2rem;


}

 
